<!DOCTYPE html>
{%load static %}
<html>
    <head>
        <title> HistoryMap</title>
   		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""> </script>
        <link rel="stylesheet" href= "{% static "main/css/home.css" %}"> 
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    </head>
    <body>
	<script type="text/javascript">
		var item_collab_filter = null;
		var current_user = null;
		{%if i2i_collab_filter != None %}
			item_collab_filter = JSON.parse({{i2i_collab_filter}});
		{% endif %}
		{%if user != None %}
			current_user = "{{user}}";
		{% endif %}
	</script>
	{% if user == None %}
		<button onclick="window.location.href = 'users/login/';">Login</button>
		<button onclick="window.location.href = 'users/signup/';">Signup</button>
	{% else %}
		<button onclick="window.location.href= 'users/logout/';"> Logout</button>
	{% endif %}
	{%if user != None %}
		<div id="Welcome">Welcome {{user}} </div>
	{% endif %}

        <div id="beginning">The World Today</div>
	<div id="search_bar"></div>
        <div id="map" src="{% static "main/css/home.css" %}"></div>
	<form id="year_map" onsubmit="return false;" >
		<!-- Put in CSS file -->
		<input type = "text" id="year_input"  placeholder="Enter a Year">
		<input type ="submit" value="submit" onclick= "change_year();"/>
	</form>
	<button onclick="remove_year();"> Clear Tiles </button>
	<button onclick="remove_wiki_markers();"> Clear Wikipedia Markers </button>
	<button onclick="remove_markers();"> Clear All Markers </button>
	<form id="opacity" onsubmit="return false;">
		<input type="text" id="opacity_change" placeholder="Enter an Opacity Value for tile overlays between 0 and 1">
		<input type="submit" value="submit" onclick="change_opacity();"/>
	</form>
	<form id="wiki_range" onsubmit="return false";>
		<input type="text" id="wiki_search_range_change" placeholder="Enter a Range that you would like to search for wikipedia articles based on click between 10 and 10000 meters (noninclusive)">
		<input type="submit" value="submit" onclick="change_wiki_range();"/>
	</form>
	<form id="" onsubmit="return false;" >
		<!-- Put in CSS file -->
		<input type = "text" id="wiki_doc_search"  placeholder="Enter a Wikipedia Article">
		<input type ="submit" value="submit" onclick= "wikipedia_document_search();"/>
	</form>
	<div id="wiki_year_timeline"></div>
	<div id="item_collab_recs"></div>
    </body>
</html>
<script src="{% static "main/js/js.cookie.js" %}"></script>
<script src="{% static "main/js/crsf_ajax_setup.js" %}"></script>
<script src="{% static "main/js/map_init.js" %}"></script>
<script src="{% static "main/js/wiki_articles.js" %}"></script>
<script src="{% static "main/js/add_tiles.js" %}"></script>
<script src="{% static "main/js/markers.js"%}"></script>
<script src="{% static "main/js/preferences.js"%}"></script>
<link  href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
<script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
<script src="{% static "main/js/search_bar.js"%}"></script>
<script src="{% static "main/js/wiki_search.js"%}"></script>
<script src="{% static "users/js/recs.js"%}"></script>
